{% block body %}

    <link rel='stylesheet prefetch' href='/static/css/roboto.css'>
    <link rel='stylesheet prefetch' href='/static/css/font-awesome.min.css'>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/inhouse.css?version=.01.4" rel="stylesheet">
<script src="/static/js/jquery1.8.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/hack.js"></script>

    <div id="button_1">
        <button class="button" onclick=stage_1(stage_var,"No")>
            <p>
               <img src="/static/images/18_Enigma_S1_Button_FINAL.png" style="width:300px;height:300px; ">
            </p>
        </button>
    </div>

    <div id="arrow_1">
        <img src="/static/images/18_Enigma_Arrow_Button_v3.png" style="width:300px;height:300px; ">
    </div>
    <div id="arrow_2">
        <img src="/static/images/18_Enigma_Arrow_Button_v3.png" style="width:300px;height:300px; ">
    </div>
    <div id="arrow_3">
        <img src="/static/images/18_Enigma_Arrow_Button_v3.png" style="width:300px;height:300px; ">
    </div>

    <div id="button_2">
        <button class="button" onclick=stage_2(stage_var,"No")>
            <p>
               <img src="/static/images/18_Enigma_S2_Button_FINAL.png" style="width:300px;height:300px; ">
            </p>
        </button>
    </div>

    <div id="arrow_4">
        <img src="/static/images/18_Enigma_Arrow_Button_v3.png" style="width:300px;height:300px; ">
    </div>
    <div id="arrow_5">
        <img src="/static/images/18_Enigma_Arrow_Button_v3.png" style="width:300px;height:300px; ">
    </div>
    <div id="arrow_6">
        <img src="/static/images/18_Enigma_Arrow_Button_v3.png" style="width:300px;height:300px; ">
    </div>

    <div id="button_3">
        <button class="button" onclick=stage_3(stage_var,is_"No")>
            <p>
               <img src="/static/images/18_Enigma_S3_Button_FINAL.png" style="width:300px;height:300px; ">
            </p>
        </button>
    </div>

    <div id="arrow_7">
        <img src="/static/images/18_Enigma_Arrow_Button_v3.png" style="width:300px;height:300px; ">
    </div>
    <div id="arrow_8">
        <img src="/static/images/18_Enigma_Arrow_Button_v3.png" style="width:300px;height:300px; ">
    </div>
    <div id="arrow_9">
        <img src="/static/images/18_Enigma_Arrow_Button_v3.png" style="width:300px;height:300px; ">
    </div>


    <div id="button_4">
        <button class="button" onclick=stage_4(stage_var,"No")>
            <p>
               <img src="/static/images/18_Enigma_Launch_Button_v3.png" style="width:300px;height:300px; ">
            </p>
        </button>
    </div>

    <script>

    var is_hack = "no";
    var stage_var = "0";


    function stage_1(stage_var, is_hack){

    }
    function stage_2(stage_var, is_hack){

    }
    function stage_3(stage_var, is_hack){

    }
    function stage_4(stage_var, is_hack){

    }
    </script>
{% endblock %}