{% block body %}

    <script src="/static/js/jquery1.8.2.min.js"></script>
    <script src="/static/js/in_house.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/hack.js"></script>
    <script src="/static/js/curved_text.js"></script>
    <link rel='stylesheet prefetch' href='/static/css/roboto.css'>
    <link rel='stylesheet prefetch' href='/static/css/font-awesome.min.css'>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/inhouse.css?version=.01.7" rel="stylesheet">

    <div id="playersLocations">

    </div>

    <div id="resettext">

    </div>

    <p>
        <button onclick="reset_stations()">Reset Stations</button>
    </p>

    <p>
        <button onclick="reset_trackers()">Reset Tracking</button>
    </p>
    <p>
        <button onclick="reset_server()">Reset Server</button>
    </p>

    <div style="position: fixed; bottom: 50px; right: 100px;">
        <div>
                <input type="range" id="volume_labyrinth" name="volume" min="0" max="100" value="100" onchange="chengeVolume('volume_labyrinth', 'MAN1')">
                <label class="volume" for="volume_labyrinth">Volume labyrinth</label>
        </div>
        <div>
                <input type="range" id="volume_enigma" name="volume" min="0" max="100" value="100" onchange="chengeVolume('volume_enigma', 'MAN2')">
                <label class="volume" for="volume_enigma">Volume enigma</label>
        </div>
    </div>

    <script>

        function reset_stations() {
            $('#resettext').text("Stations Resetting");
            var reset_site = "/resetallVault";

            {
                $.ajax({
                    type: 'POST',
                    url: reset_site,
                    data: {
                        endgame: "true"
                    }
                });

            }
        }

        function reset_server() {
            $('#resettext').text("Server Resetting Please Wait");
            var reset_site = "/resetserver";

            {
                $.ajax({
                    type: 'POST',
                    url: reset_site,
                    data: {
                        reset: "True"
                    }
                });

            }
        }

        function reset_trackers() {
            $('#resettext').text("trackers reset");
            var reset_site = "/resettrackVault";

            {
                $.ajax({
                    type: 'POST',
                    url: reset_site,
                    data: {
                        endgame: "true"
                    }
                });

            }
        }

        function auto_load(){
        $.ajax({
              url: "/playercheckvault",
              success: function(data){
                 $("#playersLocations").html(data);
              }
        });
    }

    setInterval(auto_load,500);

    function chengeVolume(id_volume, id_station){
        var volume_input = document.getElementById(id_volume);
        var volume = (volume_input.value-volume_input.min)/(volume_input.max-volume_input.min);
        var url_set_volume = '/setvolume';
        $.ajax({
                    type: 'POST',
                    url: '/setvolume',
                    data: {
                        volume: volume,
                        station: id_station,
                    }
         });
    }

    </script>

    <script>
    function setVolume(id_volume, volume)
    {
        var volume_input = document.getElementById(id_volume);
        var set_volume = volume * (parseInt(volume_input.max)-parseInt(volume_input.min)) + parseInt(volume_input.min);
        volume_input.value = set_volume;
    }

    {% for i in volume_level %}
    setVolume("{{ i[0] }}", {{ i[1] }});
    {% endfor %}
    </script>


{% endblock %}

