<div id="hack" >
    <button id="hack1button" style="position: absolute; top: 228px; left: 418px; height: 300px; width: 300px; z-index: 10000;" onclick=removehack1()>
        <img src="/static/images/18_Enigma_S1_Button_FINAL.png" style="height: 300px; width: 300px" alt="NONE">
    </button>
    <iframe id="arrowsh0" src="/static/html/arrows.html" style="width: 650px; height:200px; border: none; display: none; position: absolute; top: 275px; left: 710px;">

    </iframe>

</div>

<div id="hack2" >
    <button style="position: absolute; top: 228px; left: 1198px; z-index: 10000;" id="hack2button" onclick=removehack2()>
        <img src="/static/images/18_Enigma_S2_Button_FINAL.png" style="height: 300px; width: 300px" alt="NONE">
    </button>
    <iframe id="arrowsh1" src="/static/html/arrows.html" style="width: 650px; height:200px; border: none; display: none; position: absolute; top: 450px; left: 530px; transform: rotate(155deg);">

    </iframe>
</div>

<div id="hack3">
    <button id="hack3button" style="position: absolute; top: 550px; left: 420px; z-index: 10000;" onclick=removehack3()>
        <img src="/static/images/18_Enigma_S3_Button_FINAL.png" style="height: 300px; width: 300px" alt="NONE">
    </button>
    <iframe id="arrowsh2" src="/static/html/arrows.html" style="width: 650px; height:200px; border: none; display: none; position: absolute; top: 670px; left: 710px; ">

    </iframe>
</div>

<div id="hack4">
    <button id="hack4button" style="position: absolute; top: 550px; left: 1198px; z-index: 10000;" onclick=removehack4()>
        <img src="/static/images/18_Enigma_Launch_Button_v3.png" style="height: 300px; width: 300px" alt="NONE">
    </button>
</div>