{% block body %}

    <div id="marketbuttondiv">
    {% for i in marketApplett %}

        <button class="marketbutton" onclick="buyNow('{{ i[0] }}', '{{i[2]}}', '{{i[5]}}', '{{i[4]}}' )">
            <p>
                {{i[1]}} <br>
                IS AVAILABLE FOR {{i[2]}} ENERGY.<br>
            </p>

        </button>

    {% endfor %}
        </div>
    <div id="marketBought">
        <table>
            <tr><td>Market upgrades purchased.</td></tr>
            {% for i in market_owned_listed %}
                    <tr><td>
                        <p>{{ i[0] }}</p>
                        {% if i[1] == 12 %}
                            <br>
                            <p>{{ bomb_location_text_output }}</p>
                        {% elif i[1] == 25 %}
                            <br>
                            <p>{{ bomb_location_text_output_only_1 }}</p>
                        {% endif %}
                    </td></tr>
            {% endfor %}
        </table>
    </div>
    <script>
        if ( self === top ) {
            {% if time_doubler == "yes" %}
                var timeDoubler = "yes";
            {% else %}
                var timeDoubler = "no";
            {% endif %}
            var bomb_message = "{{ message_bomb }}";
            if (bomb_message === "exit") {
                redirect_url ="http://10.255.1.254:8080/nogametemplate/{{ station }}"
                $(location).attr('href', redirect_url)
            }
        }
        if (self !== top){
            var timeDoubler = parent.timeDoubler;
        }
        if (hackcheck === "OFF") {
            if (stationlock === "OFF") {
                if (sationselect === "OFF") {
                    textset1 = "NO";
                    textset2 = "NO";

                    var texttoset = "";
                    text_set(texttoset, "background_upper2");

                    var texttoset2 = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; YOUR ENERGY " + currency;
                    text_set(texttoset2, "background_lower2");
                }
            }
        }
    </script>

{% endblock %}