<div id="marketActivator" style="text-align: center">
    {% for i in names %}
            <button class="buttonmaintemp" onclick='selectedStation("{{i}}")' style="background-color:{{color_list[loop.index0]}}; position: absolute; top: {{x_list[loop.index0]}}px; left: {{y_list[loop.index0]}}px; width: {{bh_list[loop.index0]}}px; height: {{bw_list[loop.index0]}}px; border-radius: {{br_list[loop.index0]}}px;" >
                <p>
                    <img src="/static/images/{{image_list[loop.index0]}}" style="width:{{width_list[loop.index0]}}px;height:{{height_list[loop.index0]}}px; " alt="none">
                </p>
            
                <p>

                </p>

            </button>

    {% endfor %}
</div>