
{% block body %}
    <div id="buttonHolderInner" style="display: inline-block;">
    {% for i in stationListed %}
        {% if i in doublerStationActive %}
            <button class="button" style="background-color:{{color_selected_list[loop.index0]}}; position: absolute; top: {{x_list[loop.index0]}}px; left: {{y_list[loop.index0]}}px; width: {{bw_list[loop.index0]}}px; height: {{bh_list[loop.index0]}}px; border-radius: {{br_list[loop.index0]}}px;">
                <p>
                    <img src="/static/images/{{image_list[loop.index0]}}" style="width:{{width_list[loop.index0]}}px;height:{{height_list[loop.index0]}}px; ">
                </p>
                <p>

                </p>
            </button>
        {% else %}
            <button id="button{{i}}" class="button"  onclick='activateDoubler("{{i}}")' style="background-color:{{color_list[loop.index0]}}; position: absolute; top: {{x_list[loop.index0]}}px; left: {{y_list[loop.index0]}}px; width: {{bh_list[loop.index0]}}px; height: {{bw_list[loop.index0]}}px; border-radius: {{br_list[loop.index0]}}px;">
                    <p>
                       <img src="/static/images/{{image_list[loop.index0]}}" style="width:{{width_list[loop.index0]}}px;height:{{height_list[loop.index0]}}px; ">
                    </p>
                    <p>

                    </p>
            </button>
        {% endif %}
    {% endfor %}
    </div>
    <script>
        if ( self === top ) {
            {% if time_doubler == "yes" %}
                var timeDoubler = "yes";
            {% else %}
                var timeDoubler = "no";
            {% endif %}
            var bomb_message = "{{ message_bomb }}";
            if (bomb_message === "exit") {
                redirect_url ="http://10.255.1.254:8080/nogametemplate/{{ station }}"
                $(location).attr('href', redirect_url)
            }

        }
        if (self !== top){
            var timeDoubler = parent.timeDoubler;
        }
    </script>
{% endblock %}

