<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calibration_info</title>
    <script src="/static/js/jquery1.8.2.min.js"></script>
    <script src="/static/js/in_house.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/hack.js"></script>
    <script src="/static/js/curved_text.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>

    <link rel='stylesheet prefetch' href='/static/css/roboto.css'>
    <link rel='stylesheet prefetch' href='/static/css/font-awesome.min.css'>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/inhouse.css?version=.01.7" rel="stylesheet">

</head>
<body>

<div id="main" style="position: fixed; top: 0;  left: 0;
                 width: 300px; height: 300px; " onchange="change(this)">

    <select style=" margin-left: 15%; margin-top: 15%;  width: 300px;" size="7" id="selectId" name = "trackers">
                {% for i in trackers %}
                        <option value="{{i}}">{{i}}</option>
                {% endfor %}
    </select>

</div>

<div id="wrap" style="margin-top: 300px;  top: 0;  left: 0;
                 width: 750px; height: 300px; ">

		        <table style="width: 100%;  margin-top: 8%; margin-left: 45px; table-layout: fixed;" id="table"></table>


</div>
<script>
    function change() {
        var page = "/calibration_info";
        var select = document.getElementById("selectId");
        var value_select = select.options[select.selectedIndex].value;

        $.ajax({
                type: 'POST',
                url: page,
                data: {
                    'value': value_select
                },
                success: function generateTable(data){
                        var count_row = data["tx_power_selected_tracker"].length;
                        var table = '<table class="simple-little-table">';
                        var tx_power_selected_tracker = data["tx_power_selected_tracker"]
                        var room_station = data["room_station"]
                        var name_spelled_station = data["name_spelled_station"]
                        var calibration_datetime = data["calibration_datetime"]
                        table += '<tr>';
                        table += '<td>Name</td>';
                        table += '<td>room</td>';
                        table += '<td>tx</td>';
                        table += '<td>datatime</td>';
                        table += '</tr>';
                        for( var i = 0; i < count_row; i++ ){
                            table += '<tr>';
                                table += '<td>' + name_spelled_station[i] +  '</td>';
                                table += '<td>' + room_station[i] +'</td>';
                                table += '<td>' + tx_power_selected_tracker[i] +'</td>';
                                table += '<td>' + calibration_datetime[i] +'</td>';
                            table += '</tr>';
                        }
                        table += '</table>';
                        document.getElementById('table').innerHTML = table;
                    }
            });
    }
</script>
</body>
</html>
