<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>associations</title>
</head>
<body>
    <div id="div1" style="margin-left: 35%; display: none; position: absolute; top: 0; bottom: 0; left: 0;
                right: 0; width: 400px; height: 200px; margin: auto;">
        <select style="margin-left: 40px; margin-top: 5px;" name="pets" id="Front">
            <option value="">Font</option>
            {% for i in name_tracker %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <select  style="margin-left: 40px; margin-top: 40px;" name="pets" id="Toil">
            <option value="">Toil</option>
            {% for i in name_tracker %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <p></p>
        <button style="margin-left: 45px; margin-top: 40px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">Ok</button>
        <button onmousedown="noviewDiv1()" style="margin-left: 50px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">Cancel</button>
    </div>
    <div id="div2" style=" margin-right: 35%;display: none;position: absolute; top: 0; bottom: 0; left: 0;
                right: 0; width: 300px; height: 200px; margin: auto;">
        <p align="center" style="margin-top: 40px;">Are you sure you want to delete the association?</p>
        <button style="margin-left: 70px; margin-top: 40px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">Ok</button>
        <button onmousedown="noviewDiv2()" style="margin-left: 70px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">Cancel</button>
    </div>

    <div id="main" style="display: block; position: absolute; top: 0; bottom: 0; left: 0;
                right: 0; width: 600px; height: 400px; margin: auto;">
        <h1 align="center"><font size="6" face="monaco">Current associations</font></h1>
        <div style="display: inline-block; width: 600px; height: 200px; margin: auto;
                    background-color: white; overflow: scroll; border:2px solid black;">
            {% for i in name_tracker %}
                {{i}}<br>
            {% endfor %}
        </div>
        <p></p>
        <button onclick="window.location.href='/trackernames'" style="margin-left: 80px; background-color: white; box-shadow: 0px 2px 2px 0px #000000" >
            Find new trackers...</button>
        <button onmousedown="viewDiv1()" style="margin-left: 40px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">
            Add...</button>
        <button style="margin-left: 40px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">
            Edit...</button>
        <button onmousedown="viewDiv2()" style="margin-left: 40px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">
            Delete...</button>
    </div>
    <script>
    function viewDiv1(){
        document.getElementById("div1").style.display = "block";
        document.getElementById("main").style.display = "none";
        };
    function viewDiv2(){
        document.getElementById("div2").style.display = "block";
        document.getElementById("main").style.display = "none";
        };
    function noviewDiv2(){
        document.getElementById("div2").style.display = "none";
        document.getElementById("main").style.display = "block";
        };
    function noviewDiv1(){
        document.getElementById("div1").style.display = "none";
        document.getElementById("main").style.display = "block";
        };
    </script>
</body>
</html>
