<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>associations</title>
</head>
<body>
    <div style="display: inline-block; position: fixed; top: 0; bottom: 0; left: 0;
                right: 0; width: 600px; height: 400px; margin: auto;">
        <h1 align="center"><font size="6" face="monaco">Current associations</font></h1>
        <div style="display: inline-block; width: 600px; height: 200px; margin: auto;
                    background-color: white; overflow: scroll; border:2px solid black;">
        </div>
        <br>
        <p></p>
        <button style="margin-left: 80px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">
            Find new trackers...</button>
        <button style="margin-left: 40px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">
            Add...</button>
        <button style="margin-left: 40px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">
            Edit...</button>
        <button style="margin-left: 40px; background-color: white; box-shadow: 0px 2px 2px 0px #000000">
            Delete...</button>
    </div>
</body>
</html>
