{% block body %}

{{ player_wins }} has won the game.

{% for i in playersLocation %}
    <p>Player <strong>{{ i[0] }}</strong>  is at <strong>{{ i[1] }}</strong> with  a signal of <strong>{{ i[2] }}</strong>.</p>
{% endfor %}

<button onclick="endgame()">End Game</button>
{% endblock %}

<script>
    function endgame() {
        var redirect = "/playercheckvault{{room}}";
        var redirect2 = '/adminVault{{room}}';

        {
            $.ajax({
                type: 'POST',
                url: redirect,
                data: {
                    endgame: "true"
                }
            });
            window.setTimeout(function () {
                $(location).attr('href', redirect2)
            }, 100);
        }
    }
</script>
