
<script>
    document.getElementById("hack").style.backgroundImage = "url('http://10.255.1.254:8080/static/images/{{ background_hack }}')";
    document.getElementById("hack2").style.backgroundImage = "url('http://10.255.1.254:8080/static/images/{{ background_hack_1 }}')";
    document.getElementById("hack3").style.backgroundImage = "url('http://10.255.1.254:8080/static/images/{{ background_hack_2 }}')";
    document.getElementById("hack4").style.backgroundImage = "url('http://10.255.1.254:8080/static/images/{{ background_hack_3 }}')";
    document.getElementById("hack").style.backgroundColor = "white";
    document.getElementById("hack2").style.backgroundColor = "white";
    document.getElementById("hack3").style.backgroundColor = "white";
    document.getElementById("hack4").style.backgroundColor = "white";
</script>
